.CardList {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 17px 0;
  width: 100%;
  margin: 0 0 0 40px;
  padding: 20px 10px;
  border-radius: 25px;
  background-color: rgb(156, 211, 156, 0.8);
}
.loading {
  text-align: center;
  flex-basis: 100%;
}
