.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 40px 40px 0 40px;

  &_navigation {
    display: flex;
    flex-direction: column;
    width: 15%;

    &_favorites {
      text-align: center;
      height: 25px;
      margin-top: 25px;
      border-radius: 25px;
      border: 2px solid rgb(75 162 75);
      background-color: rgb(156, 211, 156);
      &:hover {
        background-color: rgb(65, 163, 65);
      }
    }
  }
}
